.region-title{
    margin-left: 10%;
    margin-top: 3%;
}

/*CREATE BUTTONS*/
.add-contact {
    cursor: pointer;
    color: white;
    padding: 10px 30px;
    background-color: #1D72C2;
    border-radius: 5px;
    border: none;
    margin-right: 1%;

}
.btns-add-del{
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.style-btn{
  background-color: #1D72C2;
  color: white;
  width: 150px;
  margin-left: 80%;
  margin-right: 10%;
  font-size: 18px;

}
/*MODAL STYLE*/
#asterisk{
  color: RED;
}
.style-title-modal{
  margin-left: 5%;
  font-size: 18px;
  font-weight: 400;
}
.style-title-select{
  margin-left: 1%;
  font-size: 18px;
  font-weight: 400;

}
.input-width{
  font-size: 18px;
  font-weight: 400;
}

/*STYLE BTN EDIT, DELETE, UPDATE*/
.btn-container{
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  margin-top: -25px;
}

/*STYLE TREE*/
/* Remove default bullets */
.list-style, #myUL {
  list-style-type: none;
  margin-left: 5%;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
    border-top: 0;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

/**style info tree*/
.style-tree{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  
}
