.main-users{
    margin-top: 50px;
    margin-bottom: 50px;
    
}

/*FORM*/
.form{
    background-color: rgb(177, 215, 226);
    width: 400px;
    margin-left: 35vw;
    border-radius: 9px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color: #FFFFFF;
    box-shadow: 0 10px 25px rgba(106, 114, 119, 0.7);
}

.form-row{
  display:flex;
  flex-direction: row;
}
.create-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 30px;
}

.form-group{
    text-align:left;
    margin-left: 25px;
    margin-right: 25px;
    display:flex;
    flex-direction:column;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}

.form-group > input{
    margin-top: 5px;
    height: 40px;
    border-radius: 2px;
    border:none;
    padding:5px;
    font-size: 16px;
}

#submit-btn{
    color:black;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


#submit-btn:hover{
    background-color: #0683F9;
    color: white;
}

/*TABLE*/

#users-title{
    margin-top: 5%;
    margin-left: 10%;

}
.container{
    margin-top: 2%;
}

.bg-light{
    font-size: 18px;
}

#users-table-body{
        font-size: 17px;
}

/*MODAL STYLE*/

.modal-content{
  height: 300px;
}
  #asterisk{
    color: RED;
  }
  .style-title-modal{
    margin-left: 5%;
    font-size: 18px;
    font-weight: 400;
  }
  .style-title-select{
    margin-left: 1%;
    font-size: 18px;
    font-weight: 400;
  
  }
  .input-width{
    font-size: 18px;
    font-weight: 400;
  }
  .style-btn{
    background-color: #1D72C2;
    color: white;
    width: 150px;
    margin-left: 45vw;
    margin-right: 10%;
    font-size: 18px;
  
  }

  .input-width{
    width: 150px;
    font-size: 18px;
    font-weight: 400;
  }
  